<!-- <ion-content>
  <ion-list>
    <ion-button (click)="dismiss()">Logout</ion-button>
    <ion-button>Delete Account</ion-button>
    <ion-button>Cancel</ion-button>
  </ion-list>
</ion-content> -->

	
<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title color="light">Notifications</ion-title>
  </ion-toolbar>
</ion-header>
 
 
 
  <!-- Rest of the page content -->
  <div class="main">
 
 
    <!-- List of tracks -->
    <ion-list>
      <ion-item  lines="none">
        <ion-label text-wrap>Eddieson Vergara arrived at Lawrence's house on August 13, 2021 8:30 pm
          <p>8 hours ago</p>
        </ion-label>
        <ion-icon slot="end" size="small" name="ellipsis-horizontal" color="light"></ion-icon>
      </ion-item>
      <ion-item  lines="none">
        <ion-label text-wrap>Eddieson Vergara arrived at Lawrence's house on August 13, 2021 8:30 pm
          <p>8 hours ago</p>
        </ion-label>
        <ion-icon slot="end" size="small" name="ellipsis-horizontal" color="light"></ion-icon>
      </ion-item>
      <ion-item  lines="none">
        <ion-label text-wrap>Eddieson Vergara arrived at Lawrence's house on August 13, 2021 8:30 pm
          <p>8 hours ago</p>
        </ion-label>
        <ion-icon slot="end" size="small" name="ellipsis-horizontal" color="light"></ion-icon>
      </ion-item>
      <ion-item  lines="none">
        <ion-label text-wrap>Eddieson Vergara arrived at Lawrence's house on August 13, 2021 8:30 pm
          <p>8 hours ago</p>
        </ion-label>
        <ion-icon slot="end" size="small" name="ellipsis-horizontal" color="light"></ion-icon>
      </ion-item>
      <ion-item  lines="none">
        <ion-label text-wrap>Eddieson Vergara arrived at Lawrence's house on August 13, 2021 8:30 pm
          <p>8 hours ago</p>
        </ion-label>
        <ion-icon slot="end" size="small" name="ellipsis-horizontal" color="light"></ion-icon>
      </ion-item>
      <ion-item  lines="none">
        <ion-label text-wrap>Eddieson Vergara arrived at Lawrence's house on August 13, 2021 8:30 pm
          <p>8 hours ago</p>
        </ion-label>
        <ion-icon slot="end" size="small" name="ellipsis-horizontal" color="light"></ion-icon>
      </ion-item>
      <ion-item  lines="none">
        <ion-label text-wrap>Eddieson Vergara arrived at Lawrence's house on August 13, 2021 8:30 pm
          <p>8 hours ago</p>
        </ion-label>
        <ion-icon slot="end" size="small" name="ellipsis-horizontal" color="light"></ion-icon>
      </ion-item>
    </ion-list>
  </div>
 