<ion-content class="ion-padding ion-text-center">
<!-- <div class="logo"> -->
  <img src="../../assets/nurse-removebg-preview.png" class="logo" /> 
<!-- </div> -->
<div class="form">
  <form [formGroup]="registerForm"  (ngSubmit)="submit()" novalidate>
    
    <ion-item lines="none">
      <ion-input  placeholder="Enter nurse firstname" formControlName="firstname"></ion-input>
    </ion-item>
    <ion-text type="text" color="danger" *ngIf="registerForm.get('firstname').hasError('required') && registerForm.get('firstname').touched">
      First Name shouldn't be empty 
     </ion-text>
     <div *ngIf="!registerForm.controls.firstname.valid && (registerForm.controls.firstname.dirty ||registerForm.controls.firstname.touched)" class="error">
       <ion-text color="danger" *ngIf="registerForm.controls.firstname.errors.invalidMsg">
         {{registerForm.controls.firstname.errors.invalidMsg}}
       </ion-text>
     </div>
         <ion-text color="danger" *ngIf="registerForm.get('firstname').hasError('minlength') && registerForm.get('firstname').touched">
      First Name must be minimum 5 characters long
     </ion-text>
     <ion-text color="danger" *ngIf="registerForm.get('firstname').hasError('maxlength') && registerForm.get('firstname').touched">
      First Name must be maximum 10 characters long
     </ion-text>
     <ion-item lines="none">
      <ion-input  placeholder="Enter nurse middlename" formControlName="middlename"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="registerForm.get('middlename').hasError('required') && registerForm.get('middlename').touched">
      Middle Name shouldn't be empty 
     </ion-text>
     <div *ngIf="!registerForm.controls.middlename.valid && (registerForm.controls.middlename.dirty ||registerForm.controls.middlename.touched)" class="error">
      <ion-text color="danger" *ngIf="registerForm.controls.middlename.errors.invalidMsg">
        {{registerForm.controls.middlename.errors.invalidMsg}}
      </ion-text>
    </div>
     <ion-text color="danger" *ngIf="registerForm.get('middlename').hasError('minlength') && registerForm.get('middlename').touched">
       Middle must be minimum 5 characters long
     </ion-text>
     <ion-text color="danger" *ngIf="registerForm.get('middlename').hasError('maxlength') && registerForm.get('middlename').touched">
       Middle must be maximum 10 characters long
     </ion-text>
     <ion-item lines="none">
      <ion-input  placeholder="Enter nurse surname" formControlName="surname"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="registerForm.get('surname').hasError('required') && registerForm.get('surname').touched">
      Surname shouldn't be empty 
     </ion-text>
     <div *ngIf="!registerForm.controls.surname.valid && (registerForm.controls.surname.dirty ||registerForm.controls.surname.touched)" class="error">
      <ion-text color="danger" *ngIf="registerForm.controls.surname.errors.invalidMsg">
        {{registerForm.controls.surname.errors.invalidMsg}}
      </ion-text>
    </div>
     <ion-text color="danger" *ngIf="registerForm.get('surname').hasError('minlength') && registerForm.get('surname').touched">
       Surname must be minimum 5 characters long
     </ion-text>
     <ion-text color="danger" *ngIf="registerForm.get('surname').hasError('maxlength') && registerForm.get('surname').touched">
       Surname must be maximum 10 characters long
     </ion-text>
     <ion-item lines="none">
      <ion-input type="tel"  placeholder="Enter nurse phonenumber" formControlName="cellphonenumber"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="registerForm.get('cellphonenumber').hasError('required') && registerForm.get('cellphonenumber').touched">
      Cellphone Number shouldn't be empty 
     </ion-text>
     <ion-text color="danger" *ngIf="registerForm.get('cellphonenumber').hasError('pattern') && registerForm.get('cellphonenumber').touched">
      Please enter a Philippine phone number format 
     </ion-text>
     <ion-item lines="none">
      <ion-input  placeholder="Enter nurse email" formControlName="email"></ion-input>
    </ion-item>
   <ion-text color="danger" *ngIf="registerForm.get('email').hasError('email') && registerForm.get('email').touched">
     Enter a valid email
    </ion-text>
    <ion-text color="danger" *ngIf="registerForm.get('email').hasError('required') && registerForm.get('email').touched">
      Email shouldn't be empty
     </ion-text>
     <ion-item lines="none">
      <ion-input type="password"  placeholder="Enter nurse password" formControlName="password"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="registerForm.get('password').hasError('required') && registerForm.get('password').touched">
      Password shouldn't be empty
     </ion-text> 
    <ion-text color="danger" *ngIf="registerForm.get('password').hasError('minlength') && registerForm.get('password').touched">
      Password must be minimum 8 characters long
     </ion-text>
     
    <button type="submit" hidden #btn></button>
    <ion-button color="dark" (click)="btn.click()" [disabled]="registerForm.invalid" expand="block">Register Nurse</ion-button>
  </form>
</div>
</ion-content>