ion-content{
    --background : #F0F4FD;
  
    
  }
  // ion-text {
  //     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  // }
  // ion-label {
  //   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      
  // }


  .text-description {
    font-family: cursive;
    font-size: 17px;
  }